/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

body {
  background-image: url(./assets/burger-friends.jpg);
  background-size: 100%;
  margin: 0;

  font-family: 'Roboto', sans-serif; */

}

header {
  background-color: #0fb9b1;
  display: flex;
  justify-content: space-between;
}

.top-header {
  padding-left: 15px;
}

.button-recipe {
  margin-right: 15px;
  margin-top: 16px;
  margin-bottom: 16px;
  border: none;
  border-radius: 5px;
}

main {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap

}

.boxes {
  margin-top: 44px;
  background-color: rgba(225, 225, 225, .9);
  height: 300px;
  width: 400px;
  align-items: stretch; */
}

.radio-selection {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.radio-header {
  margin-top: 40px;
  margin-left: 30px;
}

label {
  padding-bottom: 10px
}

.b-one {
  padding-left: 40px;
}

.button-cook {
  flex-direction: column;
  padding-left: 40px;
  background-color: #0fb9b1;
  border: solid blue .5px;
  border-radius: 5px;
  width: fit-content;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 35px;
}

.b-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.pot {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h5 {
  font-style: italic;
}

#suggestion {
  margin: 0px 10px 10px 10px;
  align-content: center;

}

.button-clear {
  background-color: #95a5a6;
  color: white;
  border: none;
  border-radius: 5px;
  align-self: flex-end;
  margin-right: 16px;


}

footer {
  background-color: rgba(225, 225, 225, .9);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 150px;
  position: fixed;
  bottom: 0;
  width: 100%;

}

.footer-elmts {
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-new {
  color: #0fb9b1;
}

.hidden {
  display: none;
}
